<p>
{{ scenario.pageNumber }}
<br/>
{{ scenario.title }}
<br/>
{{ scenario.content }}
<br/>
<a href="{{ path('site_scenario_view', {'pageNumber': scenario.choice1}) }}">Lien</a>
{{ scenario.choice1 }}
<br/>
{% if scenario.choice2 is not null%}
	{{ scenario.choice2 }}
{% endif %}
</p>