<div class="hud" style="text-align: center">
    <div id="first-level">
        <a href="{{ path('snowball_move',{'direction': 'up'}) }}"><image src="{{ asset('boxes/up.png') }}"></image></a>
    </div>
    <div id="second-level">
        <a href="{{ path('snowball_move',{'direction': 'left'}) }}"><image src="{{ asset('boxes/left.png') }}"></image></a>
        <a href="{{ path('snowball_move',{'direction': 'down'}) }}"><image src="{{ asset('boxes/down.png') }}"></image></a>
        <a href="{{ path('snowball_move',{'direction': 'right'}) }}"><image src="{{ asset('boxes/right.png') }}"></image></a>
    </div>
</div>